/* Projects.css */
.projects-section {
  padding: 50px;
  background-color: #ffffff;
  text-align: center;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.project-card {
  background: #a6f3f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  color: #0073b1;
  text-decoration: none;
  font-weight: bold;
}

.project-link:hover {
  text-decoration: underline;
}
